@model IEnumerable<RetroGames.DATA.EF.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-wrap" style="background-image: url('../images/retro_background-new.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center">
                    <h1 class="mb-4 oldfont">Bring <span>Back</span> Your <span>Childhood</span>.</h1>
                    <p><a href="@Url.Action("Index", "Products")" class="btn button py-2 px-4">Shop Now</a> <a href="@Url.Action("About", "Home")" class="btn btn-white btn-outline-white py-2 px-4">Read more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ftco-intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="text">
                        <h2>24/7 Support</h2>
                        <p>Have a question, issue, or are you just curious about your order?  Give us a call anytime!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-cashback"></span>
                    </div>
                    <div class="text">
                        <h2>Money Back Guarantee</h2>
                        <p>If you're not happy, neither are we!  We gurantee you will be completely satisfied with our no hassle money back guarantee!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-free-delivery"></span>
                    </div>
                    <div class="text">
                        <h2>Free Shipping &amp; Return</h2>
                        <p>Free Shipping and handling on orders over $30!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb" ">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/10fdf0fe-7439-4086-a06d-48bdab3dbf53.jpg);"></div>
                    <h3 class="oldfont">Consoles</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/ae81f9d0-60c5-4f49-8401-c03794253efe.jpg);"></div>
                    <h3 class="oldfont">Accessories</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/6a227512-78c8-4cea-94c6-a262ccb60ea4.jpg);"></div>
                    <h3 class="oldfont">Games</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/05245a30-72d6-4ade-8522-fdd16254afe3.png);"></div>
                    <h3 class="oldfont">Arcade</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/13a1cb99-7f1a-4656-b275-057df8b837e1.jpg);"></div>
                    <h3 class="oldfont">Pinball</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section pb-0">
    <div class="pb-4 m-4 bg-light">
        <div class="container">
            <div class="row justify-content-center pb-5">
                <div class="col-md-7 heading-section text-center ftco-animate pt-3">
                    <h2 class="oldfont">Featured Items</h2>
                </div>
            </div>
            <div class="row">

                @foreach (var item in Model)
                {
                    <div class="col-md-3 d-flex">
                        <div class="product ftco-animate">
                            <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../images/@item.ProductImage);">
                                <div class="desc">
                                    <p class="meta-prod d-flex">
                                        <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-Route-id="@item.ProductId" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                        <a href="#" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-heart"></span></a>
                                        <a asp-action="Details" asp-route-id="@item.ProductId" asp-controller="Products" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                    </p>
                                </div>
                            </div>
                            <div class="text text-center">

                                <span class="category">@item.Category.CategoryName</span>
                                <h2>@item.ProductName</h2>
                                <p class="mb-0"> <span class="price">@string.Format($"{item.ProductPrice:c}")</span></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="@Url.Action("Index","Products")" class="btn button d-block">View All Products <span class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>

</section>
