@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<UserRoleViewModel>
@{
    ViewData["Title"] = "Edit Users in Role";
    var roleId = ViewData["RoleId"];
}

<section class="hero-wrap hero-wrap-2 navbackground" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span><span class="mr-2"><a href="@Url.Action("ListRoles","Administration")"> List Roles <i class="fa fa-chevron-right"></i></a></span><span>@ViewData["Title"] <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread oldfont">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>

<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Add or remove users from this role</h2>
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="form-check m-1">
                    <input type="hidden" asp-for="@Model[i].UserId" />
                    <input type="hidden" asp-for="@Model[i].UserName" />
                    <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                    <label class="form-check-label" asp-for="@Model[i].IsSelected">
                        @Model[i].UserName
                    </label>
                </div>
            }
        </div>
        <div class="card-footer">
            <input type="submit" value="Update" class="btn button"
                   style="width:auto" />
            <a asp-action="EditRole" asp-route-id="@roleId"
               class="btn secondarybutton" style="width:auto">Cancel</a>
        </div>
    </div>
</form>