@model IEnumerable<RetroGames.DATA.EF.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/retro_background-1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>@ViewData["Title"] <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn secondarybutton">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |*@
                <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
