@model Dictionary<int, RetroGames.UI.MVC.Models.CartItemViewModel>

@{

    ViewData["Title"] = "Cart";
    decimal? cartTotal = 0;
}

<section class="hero-wrap hero-wrap-2 navbackground" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>@ViewData["Title"] <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 oldfont bread">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>

@if (Model.Count == 0)
{
    <p class="alert alert-warning text-center">
        @ViewBag.Message
    </p>
}
else
{
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr>
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>Total</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="alert" role="alert">

                                    @*Product Image*@
                                    <td>
                                        <img src="~/images/t_@item.Value.Product.ProductImage" alt="@item.Value.Product.ProductName" />
                                    </td>

                                    @*Product Name*@
                                    <td>
                                        <div class="email">
                                            <span>@item.Value.Product.ProductName</span>
                                        </div>
                                    </td>

                                    @*Product Price*@
                                    <td>@string.Format($"{item.Value.Product.ProductPrice:c}")</td>

                                    @*Qantity*@
                                    
                                        <form asp-action="UpdateCart">
                                            <td class="quantity">
                                            <input type="hidden" name="productId" value="@item.Key" />
                                        <input type="text" name="qty" value="@item.Value.Qty" class="quantity form-control input-number" min="1" max="@item.Value.Product.UnitsInStock" />
                                            </td>
                                            <td>
                                            <input type="submit" value="Update Cart" class="btn button btn-sm" .>
                                            </td>
                                        </form>
                                    
                                    <td>
                                        
                                    </td>


                                    @*Row Total*@
                                    @{
                                        //Calculate the line total and the cart total
                                        //The line total will be displayed here for each line item.
                                        //The cart total will be displayed after al of the line items.
                                        decimal? lineTotal = item.Value.Qty * item.Value.Product.ProductPrice;
                                        cartTotal += lineTotal; //Total for all items.
                                    }
                                    <td>@String.Format($"{lineTotal:c}")</td>

                                    @*Remove from Shopping Cart*@
                                    <td>
                                        <a asp-action="RemoveFromCart" asp-controller="ShoppingCart" asp-route-id="@item.Key" class="close" aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                        </a>

                                  @*      <button type="button"
                                        asp-action="RemoveFromCart"
                                        asp-controller="ShoppingCart"
                                        asp-route-id="@item.Key"
                                                class="close"
                                                data-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                                        </button>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col col-lg-5 col-md-6 mt-5 cart-wrap ftco-animate">
                    <div class="cart-total mb-3">
                        <h3>Cart Totals</h3>
                        <p class="d-flex">
                            <span>Subtotal</span>
                            <span>@string.Format($"{cartTotal:c}")</span>
                        </p>
                        <p class ="d-flex">
                            <span>Delivery</span>
                            @if (cartTotal >= 30)
                            {
                            <p class="d-flex">Free Delivery!</p>
                            }
                            else
                            {
                                decimal delivery = (5 * (decimal)cartTotal) / 100;

                            <span>@string.Format($"{delivery:c}")</span>

                                cartTotal += delivery;
                            }
                        </p> 
                        <hr>
                        <p class="d-flex total-price">
                            <span>Total</span>
                            <span>@string.Format($"{cartTotal:c}")</span>
                        </p>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*<a href="#" class="btn btn-primary py-3 px-4">Proceed to Checkout</a></p>*@
                        <p class="text-center"><a asp-action="SubmitOrder" class="btn button py-3 px-4">
                            Submit Order
                        </a></p>
                    }
                    else
                    { 
                        <p>
                            To place this order, you must be <a asp-area="Identity" asp-page="/Account/Login">logged in.</a>
                        </p>
                       
                    }
                        
                </div>
            </div>
        </div>
    </section>

}


@*<tr class="alert" role="alert">
	<td>
		<label class="checkbox-wrap checkbox-primary">
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
	</td>
	<td>
		<div class="img" style="background-image: url(images/prod-2.jpg);"></div>
	</td>
	<td>
		<div class="email">
			<span>Jim Beam Kentucky Straight</span>
			<span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
		</div>
	</td>
	<td>$30.99</td>
	<td class="quantity">
		<div class="input-group">
			<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
		</div>
	</td>
	<td>$30.99</td>
	<td>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true"><i class="fa fa-close"></i></span>
		</button>
	</td>
</tr>

<tr class="alert" role="alert">
	<td>
		<label class="checkbox-wrap checkbox-primary">
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
	</td>
	<td>
		<div class="img" style="background-image: url(images/prod-3.jpg);"></div>
	</td>
	<td>
		<div class="email">
			<span>Jim Beam Kentucky Straight</span>
			<span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
		</div>
	</td>
	<td>$35.50</td>
	<td class="quantity">
		<div class="input-group">
			<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
		</div>
	</td>
	<td>$35.50</td>
	<td>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true"><i class="fa fa-close"></i></span>
		</button>
	</td>
</tr>

<tr class="alert" role="alert">
	<td>
		<label class="checkbox-wrap checkbox-primary">
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
	</td>
	<td>
		<div class="img" style="background-image: url(images/prod-4.jpg);"></div>
	</td>
	<td>
		<div class="email">
			<span>Jim Beam Kentucky Straight</span>
			<span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
		</div>
	</td>
	<td>$76.99</td>
	<td class="quantity">
		<div class="input-group">
			<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
		</div>
	</td>
	<td>$76.99</td>
	<td>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true"><i class="fa fa-close"></i></span>
		</button>
	</td>
</tr>

<tr class="alert" role="alert">
	<td class="border-bottom-0">
		<label class="checkbox-wrap checkbox-primary">
			<input type="checkbox">
			<span class="checkmark"></span>
		</label>
	</td>
	<td class="border-bottom-0">
		<div class="img" style="background-image: url(images/prod-5.jpg);"></div>
	</td>
	<td class="border-bottom-0">
		<div class="email">
			<span>Jim Beam Kentucky Straight</span>
			<span>Fugiat voluptates quasi nemo, ipsa perferendis</span>
		</div>
	</td>
	<td class="border-bottom-0">$40.00</td>
	<td class="quantity border-bottom-0">
		<div class="input-group">
			<input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
		</div>
	</td>
	<td class="border-bottom-0">$40.00</td>
	<td class="border-bottom-0">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true"><i class="fa fa-close"></i></span>
		</button>
	</td>
</tr>*@