@*@model IEnumerable<RetroGames.DATA.EF.Models.Product>*@

@model IPagedList<RetroGames.DATA.EF.Models.Product>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Products";
}

@*<h1 class="mt-5">@ViewData["Title"]</h1>*@


<section class="hero-wrap hero-wrap-2 navbackground" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>@ViewData["Title"] <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread oldfont">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>




<div>
    <p class="col-md-2 mt-3 ml-2">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn button btn-lg">Create New</a>
        }
        <a asp-action="ListProducts" class="btn secondarybutton btn-lg">List View</a>
    </p>

    <div class="container col-md-6">
        <form asp-action="Index" method="get"> 
            <label for="categoryId" class="control-label text-center d-block">Filter by Category</label>
            <select name="categoryId" class="form-control text-center mb-3" asp-items="ViewBag.CategoryId">
                <option value="0">[Choose a Category]</option>
            </select>

            <input type="text" name="searchTerm" class="form-control text-center" placeholder="Search Products" />
            <input type="submit" value="Go" class="btn btn-primary text-center w-50 d-block" />

        </form>
        @if (ViewBag.NbrResults != null)
        {
            <p class="mt-5 p-2 alert-warning text-center">
                Showing @ViewBag.NbrResults result@(ViewBag.NbrResults == 1 ? "" : "s") for '@ViewBag.SearchTerm'...
            </p>
        }
    </div>
</div>

<section class="ftco-section p-3">
    <div class="container p-5 bg-light rounded-top">
        <div class="row border p-2">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-lg-3 d-flex">
                    <div class="product ftco-animate fadeInUp ftco-animated">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../images/@item.ProductImage);">
                            <div class="desc">
                                <p class="meta-prod d-flex">
                                    <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-Route-id="@item.ProductId" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                    @*<a href="#" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-heart"></span></a>*@
                                    <a asp-action="Details" asp-route-id="@item.ProductId" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text rounded-bottom text-center">
                            @*<span class="sale">Sale</span>*@
                            @if (item.ConsoleType != null)
                            {
                                <span class="category font-weight-bold"> @item.ConsoleType.ConsoleName</span>
                            }
                            <h2 class="oldfont cut-text">@item.ProductName</h2>
                            <h5>@Html.DisplayFor(modelItem => item.ReleaseDate)</h5>
                            <p class="mb-0"><span class="price">@Html.DisplayFor(modelItem => item.ProductPrice)</span></p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row mt-5 bg-light">
            <div class="w-50 mx-auto text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
            <div class="w-100">
                @Html.PagedListPager(
                Model,
                page => Url.Action("Index",
                new {page, searchTerm = ViewBag.SearchTerm, categoryId = ViewBag.Category})
                )
            </div>
        </div>
    </div>
</section>
