@model IEnumerable<RetroGames.DATA.EF.Models.Product>

@{
    ViewData["Title"] = "Products";
}

@*<h1 class="mt-5">@ViewData["Title"]</h1>*@


<section class="hero-wrap hero-wrap-2 navbackground" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-2"><span class="mr-2"><a href="/">Home <i class="fa fa-chevron-right"></i></a></span> <span>@ViewData["Title"] <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread oldfont">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</section>

<p class="mt-3 ml-2">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" class="btn button btn-lg">Create New</a>
    }
    <a asp-action="ListProducts" class="btn secondarybutton btn-lg">List View</a>
</p>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 d-flex">
                    <div class="product ftco-animate">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../images/@item.ProductImage);">
                            <div class="desc">
                                <p class="meta-prod d-flex">
                                    <a href="#" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                    <a href="#" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-heart"></span></a>
                                    <a asp-action="Details" asp-route-id="@item.ProductId" class="d-flex flaticon align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text rounded-bottom bg-white text-center">
                            @*<span class="sale">Sale</span>*@
                            @if (item.ConsoleType != null)
                            {
                                <span class="category font-weight-bold"> @item.ConsoleType.ConsoleName</span>
                            }
                            <h2 class="oldfont cut-text">@item.ProductName</h2>
                            <h5>@Html.DisplayFor(modelItem => item.ReleaseDate)</h5>
                            <p class="mb-0"><span class="price">@Html.DisplayFor(modelItem => item.ProductPrice)</span></p>
                        </div>
                    </div>
                </div>
            }
        </div>
</section>
